.header-container {
    z-index: 8;
    @media (max-width: 600px) {
        margin: 0;
    }
    nav {
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            width: 15%;
            margin-top: -3px;
            height: 5px;
            border-top: solid 1px white;
            border-bottom: solid 1px white;
            @media (max-width: 600px) {
                display: none;
                border: none;
            }
        }
        &::before {
            margin-left: -15%;
        }
        &::after {
            right: 0%;
            margin-right: -15%;
        }
    }
}