.header-container {
    nav {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
            width: 100%;
            height: 100%;
            list-style: none;
            border-left: solid 1px white;
            border-right: solid 1px white;
            .logo {
                margin-right: 10px;
                grid-column: 3;
                margin: auto;
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
            }
            li {
                margin-right: 10px;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
            }
        }
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            width: 15%;
            margin-top: -3px;
            height: 5px;
            border-top: solid 1px white;
            border-bottom: solid 1px white;
        }
        &::before {
            margin-left: -15%;
        }
        &::after {
            right: 0%;
            margin-right: -15%;
        }
    }
}