.footer-container {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
    h3 {
        text-transform: uppercase;
    }
    .content {
        display: grid;
        grid-template-columns: 3fr 4fr;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        position: relative;
        margin-bottom: 10px;
        .links {
            grid-column: 1;
            grid-row: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 10px;
        }
        .testimonios {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 20px;
            .slider-testimonios {
                height: 200px;
                margin: 10px 40px 0px 0px;
            }
        }
        ul {
            margin: auto;
            list-style: none;
            li {
                margin-top: 20px;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            margin-top: 10px;
            height: 5px;
            border-top: solid 1px white;
            border-bottom: solid 1px white;
            box-shadow: 2px 2px 10px 5px rgb(40, 40, 40);
        }
    }
    .extra {
        width: 100%;
        height: 180px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        position: relative;
        grid-template-rows: 1fr 2fr 2fr 3fr 1fr;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        h3 {
            grid-row: 2;
        }
        p {
            grid-row: 3;
        }
        .redes-sociales {
            grid-row: 4;
            width: 100%;
            justify-content: center;
            display: flex;
            height: 60px;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            height: 5px;
            border-bottom: solid 1px grey;
            border-top: solid 1px grey;
        }
    }
    .footer {
        font-size: 15px;
    }
}